
.like-section{
    /* border: 2px solid red; */
    padding:20px 0px;
    background-color: white;
    width: auto;
    border-radius: 15px;
}
.card1 {
    background:linear-gradient(285deg,rgb(117, 188, 230),white);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* border: 2px solid red; */
    align-items: center;
    width: 70%;
  }
  select option{
    font-weight: 900;
  }
  .card1 h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
    background: white;
  }
  .card1 h4{
    background: white;
  }
  
  .card1 img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .commentsection{
    background: white;
  }
  button h4{
    color: white;
  }
  .comment-solo{
    background: linear-gradient(285deg,rgb(111, 188, 218),white);
    border: 1px solid #ccc;
  }
@media (max-width: 768px) {
   .card1{
    width: 90%;
   }
  }
  